*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#navbar a:link, #navbar a:visited{
    color: white;
    padding: 8px 12px;
}
#navbar a:hover{
    color: #f7b400;
    background-color: white;
}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}
.branco{
    color: white;
}
#corpo{
    width: 920px;
    margin: 0px auto; 
    
    margin-top: 20px;
}
.data{
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;

    margin-bottom: 10px;
    display: block;
}

.footer{
    background-color: #CCC;
    width: 890px;
    text-align: center;

    margin: 0px auto;
    clear: both;
    padding: 15px;
}

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
h2{
    color: #f7b600;
}
.menu-lateral{
    background-color: white;
    width: 240px;

    float: right;
}
#titulo, #menu{
    padding: 10px;   
}
#navbar{
    background-color: #f7b600;
    text-align: center;
}
.post{
    background-color: white;
    width: 660px;

    float: left;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;

}



