<!DOCTYPE html>
<html lang="PT-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">
    
    <!-- o block reserva um espaço editavel para outro arquivo html -->
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
        <!-- o include inclui um trecho de codigo escrito de um outro documento html, nesse caso é a navbar -->
        {% include 'main/include/navbar.html' %}

        {% block body %}
            
        {% endblock %}
</body>

</html>
