{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    TecBlog
{% endblock %}

{% block body %}
    <div id="corpo" >
        <div class="menu2">
            <h2>Postagens recentes</h2>
        </div>
        <div class="menu2">
            <h2>Postagens recentes</h2>
        </div>
    
        <div class="post">
            <h1>Titulo da postagem 1</h1>
            <p>postado no dia xx\xx\xxxx</p>
            <img src="{% static 'main/img/imagem2.jpg' %}" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="post">
            <h1>Titulo da postagem 2</h1>
            <p>postado no dia xx\xx\xxxx</p>
            <img src="{% static 'main/img/imagem3.jpg' %}" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="post">
            <h1>Titulo da postagem 3</h1>
            <p>postado no dia xx\xx\xxxx</p>
            <img src="{% static 'main/img/imagem4.jpg' %}" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>


    </div>
{% endblock %}